header.page-header.contacts-header
	.page-header__box_1
			img.page-header__img(src=baseDir + ["assets/images/contacts-header.png"] alt="contacts-header" title="contacts-header")
			.page-header__box_2
				.wrapper
					.page-header__item
						.page-header__wrapper
							.page-header__info
								h1.page-header__title.h1-title !{contactsHeaderText.title[lang]}
								.page-header__description
									.page-header__rect
									p.page-header__text.description !{contactsHeaderText.text[lang]}
								button.callback-open-js.btn.btn-main.btn-big.btn-callback !{buttonText.btnCallback[lang]}
							.contacts-list
								-for(let i = 1; i < 4; i++)
									.contacts-list__item(data-aos="fade-up")
										.contacts-list__icon
											img.contacts-list__img(src=baseDir + ["assets/images/"+i+"contacts-icon.svg"] alt="contacts-icon" title="contacts-icon")
										if i == 1
											h3.contacts-list__title.description Наша почта
										if i == 2
											h3.contacts-list__title.description Международный номер
										if i == 3
											h3.contacts-list__title.description Местоположение
										if i == 1
											.contacts-list__text BROKERNAME@gmail.com
										if i == 2
											.contacts-list__text 0 800 123 12 12
										if i == 3
											.contacts-list__text Northern Shops. Mile 1 Phillip Goldson Highway, Belize City, Belize.













