section.section.section-steps
	-let delayValueSteps = 300;
		.wrapper
			.section-steps__color
				h2.h2-title.white-color.section-steps__title !{indexStepsText.h2[lang]}
				.steps-list
					-for(let i = 1; i < 4; i++)
						.steps-list__item(class=["steps-list__item"+i] data-aos="fade-up" data-aos-delay="" + delayValueSteps)
							p.steps-list__number !{["0"+i]}
							.steps-list__description
								h3.steps-list__title.subtitle !{indexStepsText["step"+i].title[lang]}
								p.steps-list__text !{indexStepsText["step"+i].text[lang]}
						-delayValueSteps += 150
				.text-center
					a(href=linkSignup).btn.btn-white !{buttonText.btnOpenAcc[lang]}
