ul.conditions-list
	if i == 1
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_1[lang]}
			.conditions-list__value $1 000
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_2[lang]}
			.conditions-list__value 1:20
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_3[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_4[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_5[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_6[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_7[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_8[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_9[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_10[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_11[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_12[lang]}
			.conditions-list__icon

	if i == 2
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_1[lang]}
			.conditions-list__value $25 000
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_2[lang]}
			.conditions-list__value 1:50
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_3[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_4[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_5[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_6[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_7[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_8[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_9[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_10[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_11[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_12[lang]}
			.conditions-list__icon

	if i == 3
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_1[lang]}
			.conditions-list__value $50 000
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_2[lang]}
			.conditions-list__value 1:50
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_3[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_4[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_5[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_6[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_7[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_8[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_9[lang]}
			.conditions-list__icon
		li.conditions-list__item.check
			.conditions-list__title.description !{indexAccountsText.account_condition_10[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_11[lang]}
			.conditions-list__icon
		li.conditions-list__item.none
			.conditions-list__title.description !{indexAccountsText.account_condition_12[lang]}
			.conditions-list__icon
