
header.page-header.header-404
	.wrapper
		.page-header__item
			.page-header__wrapper
				h1.page-header__title.h1-title !{headerText404.title[lang]}
				p.page-header__text.description !{headerText404.text[lang]}
				img.page-header__img(src=baseDir + "assets/images/404.png" alt="404" title="404")
				.header-404__buttons.d-flex
					a(href="index.html").btn.btn-second !{headerText404.textSupport[lang]}
					a(href="contacts.html").btn.btn-main !{headerText404.textMainPage[lang]}