header.form-header
	.wrapper.form-wrapper
		h2.h1-title !{buttonText.signup[lang]}
		.recomend-text 
			p !{formsText.regRecommend[lang]}
			.help-text !{formsText.text_required[lang]}
		form#form-signup.main-form
			.form-group
				.form-item
					.form-item_wrapper
						label.form-item_label.description(for="submit-name") !{formsText.labelName[lang]}
						input.form-item_input#submit-name(type="text" autocomplete="off" required name="first_name" minlength="2" maxlength="30" placeholder= formsText.placeholderName[lang])
				.form-item
					.form-item_wrapper
						label.form-item_label.description(for="submit-lastname") !{formsText.labelLastName[lang]}
						input.form-item_input#submit-lastname(type="text" autocomplete="off" required name="last_name" minlength="2" maxlength="30" placeholder= formsText.placeholderLastName[lang])
			.form-group
				.form-item
					.form-item_wrapper
						label.form-item_label.description(for="submit-email") !{formsText.labelMail[lang]}
						input.form-item_input#submit-email(type="email" autocomplete="off" required name="email" placeholder= formsText.placeholderEmail[lang])
				.form-item
					.form-item_wrapper
						label.form-item_label.description(for="submit-email") !{formsText.labelPhone[lang]}
						input.form-item_input#submit-phone(type="tel" autocomplete="off" required name="phone_number" minlength="7" maxlength="50" placeholder= formsText.placeholderPhone[lang])
			.form-group
				.form-item
					.form-item_wrapper.form-item_password
						label.form-item_label.description(for="submit-pass-show") !{formsText.labelPassword[lang]}
						input.form-item_input.form-input_password#submit-pass-show(type="password" autocomplete="off" required name="password" minlength="2" maxlength="50" placeholder= formsText.placeholderPassword[lang])
						.show-icon
				.form-item
					.form-item_wrapper.form-item_password
						label.form-item_label.description(for="confirm_password") !{formsText.labelPassword[lang]}
						input.form-item_input.form-input_password#confirm_password(type="password" name="confirm_password" autocomplete="off" required minlength="2" maxlength="50" placeholder= formsText.placeholderPassword[lang])
						.show-icon
				.form-item
					.form-item_wrapper
						label.form-item_label.description(for="submit-promo") !{formsText.labelPromo[lang]}
						input.form-item_input#submit-promo(type="text" autocomplete="off" name="promotional_code" placeholder= formsText.placeholderPromo[lang])
			.form-item_checkbox
				label.custom-checkbox-label
					input.custom-checkbox-input(type="checkbox" required name="user_agreement" checked)
					span.custom-checkbox
					a(href= lang=="ru" ? 'https://trade.' + companyData.domain + '/docs/user_agreement_ru.html' : 'https://trade.' + companyData.domain + '/docs/user_agreement.html' target="_blank").custom-checkbox-text.custom-checkbox-text_sign !{formsText.checkboxAgreement[lang]}
				label.custom-checkbox-label
					input.custom-checkbox-input(type="checkbox" required name="refund_cancellation" checked)
					span.custom-checkbox
					a(href= lang=="ru" ? 'https://trade.' + companyData.domain + '/docs/refund_cancellation_policy_ru.html' : 'https://trade.' + companyData.domain + '/docs/refund_cancellation_policy.html' target="_blank").custom-checkbox-text.custom-checkbox-text_sign !{formsText.checkboxPolicy[lang]}
			.text-center
				button.js--submit-form.btn.btn-main !{buttonText.btnReg[lang]}
		.form-links
			a(href="login.html").form-links_item !{formsText.allreadyText[lang]}
			a(href="licenses.html" target="_blank").form-links_item !{navText.licenses[lang]}
