header.page-header.markets-header
	.page-header__box_1
		img.page-header__img(src=baseDir + ["assets/images/markets-header.png"] alt="markets-header" title="markets-header")
		.page-header__box_2
			.wrapper
				.page-header__item
					.page-header__wrapper
						.page-header__info
							h1.page-header__title.h1-title !{marketsHeaderText.title[lang]}
							.page-header__description
								.page-header__rect
								p.page-header__text.description !{marketsHeaderText.text[lang]}
							a(href=linkSignup).btn.btn-main.btn-big !{buttonText.btnStartTrade[lang]}
