mixin marketQuotes(attr)
	section.section.section-table
		.wrapper
			h2.section-table__title.h2-title !{commonMarketsText.title_table[lang]}
			.table-wrapper
				.tableinsert(attr=attr)
			.footnote.description !{commonMarketsText.footnote[lang]}
	section.section.section-graph
		.wrapper
			h2.section-graph__title.h2-title !{commonMarketsText.title_graph[lang]}
			.graph-wrapper
				#tradeview(data-item=attr height="650")