mixin marketHeader(text, className)
	header.market-header(class=className)
		.wrapper
			.market-header__item
				.market-header__wrapper
					h1.market-header__title.h1-title !{text.title[lang]}
					p.market-header__text.description !{text.text[lang]}
					a(href=linkSignup).btn.btn-white.btn-big !{buttonText.btnStartTrade[lang]}
				.market-header__img
					img(src=baseDir + ["assets/images/"+className+".png"] alt="market-header" title="market-header")