mixin menuFooterMixin()
	a.nav-brend(href="index.html" class=currentPage == 'index')
		.nav-logo
			img(src=baseDir + brandlinks.logo, alt="logo" title="logo")
		.nav-title !{companyData.title}
	.footer-menu-list
		a.footer-menu-list__item(href="financial-instruments.html") !{navText.markets[lang]}
		a.footer-menu-list__item(href="trading-conditions.html") !{navText.trading[lang]}
		a.footer-menu-list__item(href="about-company.html") !{navText.about[lang]}
		a.footer-menu-list__item(href="contacts.html") !{navText.contacts[lang]}
