section.section.section-calculators
	.wrapper
		.section-calculators__description
			h2.section-calculators__title.h2-title !{tradingCalculatorText.title[lang]}
			p.section-calculators__text.description !{tradingCalculatorText.text[lang]}
		#tradeCalculator.trade-calculator

section.section.section-estimation
	.wrapper
		h2.section-estimation__title.h2-title !{estimationText.h2[lang]}
		.clc-results
			.clc-table.clc-field
				.clc-tableTitles
					-for(let i = 1; i < 8; i++)
						.clc-tableTitles__item.clc-table__item !{estimationText["li_"+i][lang]}
				.clc-tableResults
					.clc-tableResults__item.clc-table__item EUR/USD Buy
					.clc-tableResults__item.clc-table__item 1.09200
					.clc-tableResults__item.clc-table__item 1
					.clc-tableResults__item.clc-table__item 1.09201
					.clc-tableResults__item.clc-table__item -5.09
					.clc-tableResults__item.clc-table__item 200.00 EUR
					.clc-tableResults__item.clc-table__item 0.92 EUR
		.estimation
			.estimation__description
				.estimation__rect
				.estimation__text !{estimationText.ul_title[lang]}
			.estimation-list
				.estimation-list__box
					-for(let i = 1; i < 5; i++)
						.estimation-list__item !{estimationText["offer_"+i][lang]}
				.estimation-list__box
					-for(let i = 5; i < 8; i++)
						.estimation-list__item !{estimationText["offer_"+i][lang]}