section.section.section-markets
	.wrapper
		.markets-list
			-for(let i = 1; i < 7; i++)
				.markets-list__item(class=["markets-list__item"+i] data-aos="fade-up")
					.markets-list__description
						h3.markets-list__title !{marketsListText["market"+i].title[lang]}
						p.markets-list__text.description !{marketsListText["market"+i].text[lang]}
						.markets-list__btns
							a(href=linkSignup).btn.btn-main.btn-big !{buttonText.btnStartTrade[lang]}
							if i == 1
								a(href="currencies.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
							else if i == 2
								a(href="metals.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
							else if i == 3
								a(href="stocks.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
							else if i == 4
								a(href="commodities.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
							else if i == 5
								a(href="indices.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
							else if i == 6
								a(href="cryptocurrencies.html").btn.btn-second.btn-big !{buttonText.btnLearMore[lang]}
					.markets-list__img
						if i == 1
							img(src=baseDir + ["assets/images/forex-header.png"] alt="markets-list" title="markets-list")
						if i == 2
							img(src=baseDir + ["assets/images/metals-header.png"] alt="markets-list" title="markets-list")
						if i == 3
							img(src=baseDir + ["assets/images/stocks-header.png"] alt="markets-list" title="markets-list")
						if i == 4
							img(src=baseDir + ["assets/images/commodities-header.png"] alt="markets-list" title="markets-list")
						if i == 5
							img(src=baseDir + ["assets/images/indices-header.png"] alt="markets-list" title="markets-list")
						if i == 6
							img(src=baseDir + ["assets/images/crypto-header.png"] alt="markets-list" title="markets-list")



