#callback.popup.form-wrapper.callback-form.mfp-hide
	button(title="Close (Esc)" type="button" class="mfp-close") ×
	h3.callback-title !{formsText.titleCallback[lang]}
	form#callbackForm(method="post")
		.help-text !{formsText.text_required[lang]}
		.form-group
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="first_name") !{formsText.labelName[lang]}
					input.form-item_input#first_name(type="text" required name="first_name" minlength="2" maxlength="30" placeholder= formsText.placeholderName[lang])
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="last_name") !{formsText.labelLastName[lang]}
					input.form-item_input#last_name(type="text" required name="last_name" minlength="2" maxlength="30" placeholder= formsText.placeholderLastName[lang])
		.form-group
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="email") !{formsText.labelMail[lang]}
					input.form-item_input#email(type="email" required name="email" placeholder= formsText.placeholderEmail[lang])
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="phone_number") !{formsText.labelPhone[lang]}
					input.form-item_input#phone_number(type="tel" required name="phone_number" minlength="7" maxlength="50" placeholder= formsText.placeholderPhone[lang])
		.form-group.select-wrapper-country
			.form-item.custom-select-wrapper
				label.form-item_label.description(for="select-country") !{formsText.labelCountry[lang]}
				select#select-country.custom-select(name="country")
					option= formsText.placeholderCountry[lang]
			.form-item.custom-select-wrapper
				label.form-item_label.description(for="select-lang") !{formsText.labelLanguage[lang]}
				select#select-lang.custom-select(required name="language" )
					option= formsText.placeholderLanguage[lang]
					option(value="EN") English
					option(value="RU") Русский
					option(value="ES") Español
					option(value="DE") Deutsch
					option(value="FR") Français
					option(value="IT") Italiano
					option(value="ZH") 中文
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="time_to_call") !{formsText.labelTime[lang]}
					input.form-item_input#time_to_call(type="text" name="time_to_call" minlength="2" maxlength="50" placeholder= formsText.placeholderTime[lang])
		button.btn.btn-main.btn-big(type="submit") !{buttonText.btnCallback[lang]}
