header.form-header
	.wrapper.form-wrapper.login-form
		h2.h1-title !{buttonText.login[lang]}
		form#enter-form.main-form 
			.form-item
				.form-item_wrapper
					label.form-item_label.description(for="submit-email") !{formsText.labelMail[lang]}
					input.form-item_input#submit-email(type="email" required name="email" placeholder= formsText.placeholderEmail[lang])
			.form-item
				.form-item_wrapper.form-item_password
					label.form-item_label.description(for="submit-pass-show") !{formsText.labelPassword[lang]}
					input.form-item_input.form-input_password#submit-pass-show(type="password" name="password" minlength="2" maxlength="50" placeholder= formsText.placeholderPassword[lang])
					.show-icon
			.text-center
				button.js--login-form.btn.btn-main !{buttonText.enterFormButton[lang]}
		.form-links
			a(href="recovery.html").form-links_item !{formsText.forgotText[lang]}
			a(href="registration.html").form-links_item !{buttonText.signup[lang]}
		.help-text !{formsText.text_required[lang]}
